{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>HPE開発演習グループ５</title>
<meta name="keywords" content="占い,音楽,グループ５,開発演習">
<meta name="description" content="毎日の占いとあなたにピッタリな音楽を提供します">
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="{% static 'js/jquery1.7.2.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</head>

<body style="background-color:black;color:#ffffff;">
<header id="header">
	<h1>HPE開発演習グループ５のサイトです</h1>
  <!-- ロゴ -->
	<div class="logo">
		<a href="index.html">Fortune Music<br />	
	</div>
	<!-- / ロゴ -->
	<!-- 電話番号+受付時間 -->
	
</header>
  
<div id="wrapper">
  
  <!-- メイン画像 -->
	<div id="mainBanner">
	<img src="{% static 'images/占い音楽.png' %}" alt="占い師の画像" width="500" height="200px" left="100px">
    <div class="slogan">
			<h2>毎日の占いとあなたにピッタリな音楽を提供します</h2>
			<p>好きな歌手はいないけどBGMとして音楽を聞きたい!<br>
				仕事を始める前の音楽選定と占いが同時にできます！</p>
		</div>
	</div>
	<!-- / メイン画像 -->

  <!-- 3カラム -->
  <section class="gridWrapper">
		<article class="grid">
      <div class="box">
				<img src="{% static 'images/おひつじ座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>おひつじ座</h3>
				<p>Aries　アリエス　　3/21~4/19</p>
				<a href="#" class="js-modal-open" data-target="modal01">おひつじ座を占う</a>
      </div>
		</article>
		<article class="grid">
			<div class="box">
      	<img src="{% static 'images/おうし座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>おうし座</h3>
				<p>Taurus　タウラス　　4/20~5/20</p>
				<a href="#" class="js-modal-open" data-target="modal02">おうし座を占う</a>
      </div>
		</article>
    <article class="grid">
    	<div class="box">
				<img src="{% static 'images/ふたご座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>ふたご座</h3>
				<p>Gemini　ジェミニ　5/21~6/21</p>
				<a href="#" class="js-modal-open" data-target="modal03">ふたご座を占う</a>
			</div>
		</article>
		<article class="grid">
			<div class="box">
      	<img src="{% static 'images/かに座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>かに座</h3>
				<p>Cancer　キャンサー　　6/22~7/22</p>
				<a href="#" class="js-modal-open" data-target="modal04">かに座を占う</a>
      </div>
		</article>
    <article class="grid">
    	<div class="box">
				<img src="{% static 'images/しし座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>しし座</h3>
				<p>Leo　レオ　　　　　7/23~8/22</p>
				<a href="#" class="js-modal-open" data-target="modal05">しし座を占う</a>
			</div>
		</article>
		<article class="grid">
			<div class="box">
      	<img src="{% static 'images/おとめ座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>おとめ座</h3>
				<p>Virgo　ヴァルゴ　　　8/23~10/23</p>
				<a href="#" class="js-modal-open" data-target="modal06">おとめ座を占う</a>
      </div>
		</article>
    <article class="grid">
    	<div class="box">
				<img src="{% static 'images/てんびん座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>てんびん座</h3>
				<p>Libra　ライブラ　　　9/23~10/23</p>
				<a href="#" class="js-modal-open" data-target="modal07">てんびん座を占う</a>
			</div>
		</article>
		<article class="grid">
			<div class="box">
      	<img src="{% static 'images/さそり座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>さそり座</h3>
				<p>Scorpio　スコーピオ　　10/24~11/22</p>
				<a href="#" class="js-modal-open" data-target="modal08">さそり座を占う</a>
      </div>
		</article>
    <article class="grid">
    	<div class="box">
				<img src="{% static 'images/いて座.png' %}" width="75" height="75" alt="" class="alignleft">
				<h3>いて座</h3>
				<p>Sagittarius　サジタリアス　11/23~12/21</p>
				<a href="#" class="js-modal-open" data-target="modal09">いて座を占う</a>
			</div>
		</article>
		<article class="grid">
			<div class="box">
					<img src="{% static 'images/やぎ座.png' %}" width="75" height="75" alt="" class="alignleft">
					<h3>やぎ座</h3>
					<p>capricorn　カプリコーン　12/22~1/19</p>
					<a href="#" class="js-modal-open" data-target="modal010">やぎ座を占う</a>
				</div>
			</article>
			<article class="grid">
				<div class="box">
			  <img src="{% static 'images/みずがめ座.png' %}" width="75" height="75" alt="" class="alignleft">
					<h3>みずがめ座</h3>
					<p>Aquarius　アクエリアス　1/20~2/18</p>
					<a href="#" class="js-modal-open" data-target="modal011">みずがめ座を占う</a>
		  </div>
			</article>
		<article class="grid">
			<div class="box">
					<img src="{% static 'images/うお座.png' %}" width="75" height="75" alt="" class="alignleft">
					<h3>うお座</h3>
					<p>Pisces　ピスケス　    <br>  2/19~3/20</p>
					<a href="#" class="js-modal-open" data-target="modal012">うお座を占う</a>
				</div>
	</section>
	<!-- / 3カラム -->
</div>



<!-- / ここから -->
<div id="modal01" class="modal js-modal">
  <div class="modal-bg js-modal-close">
  </div>
    <div class="modal-content">
      <p>おひつじ座のあなた！
		  <br>今日の運勢は、第{{ insert_rank }}位!<br>
		  <br><span style="background-color: #7fffff;">{{ insert_content }}</span><br>
		  <br><span style="color:green;font-weight:bold">総合運</span>:{{ insert_total }}
		  <br><span style="color:yellow;font-weight:bold">金運</span>:{{ insert_money }}
		  <br><span style="color:blue;font-weight:bold">仕事運</span>:{{ insert_job }}
		  <br><span style="color:palevioletred;font-weight:bold">恋愛運</span>:{{ insert_love }}
		  <br>ラッキーカラー:{{ insert_color }}
		  <br>ラッキーアイテム:{{ insert_item }}
		  <br>今日のおすすめソング</p>
	
		<a href="#" class="js-modal-close">閉じる</a>
    </div>
</div>

<div id="modal02" class="modal js-modal">
  <div class="modal-bg js-modal-close">
  </div>
    <div class="modal-content">
      <p>おうし座のあなた
		<br>今日の運勢は、第{{ 1insert_rank }}位!<br>
		<br>{{ 1insert_content }}<br>
		<br>総合運:{{ 1insert_total }}
		<br>金運:{{ 1insert_money }}
		<br>仕事運:{{ 1insert_job }}
		<br>恋愛運:{{ 1insert_love }}
		<br>ラッキーカラー:{{ 1insert_color }}
		<br>ラッキーアイテム:{{ 1insert_item }}
		<br>今日のおすすめソング</p>
	  </p>
      <a href="#" class="js-modal-close">閉じる</a>
    </div>
</div>

<div id="modal03" class="modal js-modal">
  <div class="modal-bg js-modal-close">
  </div>
    <div class="modal-content">
      <p>ふたご座のあなた
		<br>今日の運勢は、第{{ 2insert_rank }}位!<br>
		<br>{{ 2insert_content }}<br>
		<br>総合運:{{ 2insert_total }}
		<br>金運:{{ 2insert_money }}
		<br>仕事運:{{ 2insert_job }}
		<br>恋愛運:{{ 2insert_love }}
		<br>ラッキーカラー:{{ 2insert_color }}
		<br>ラッキーアイテム:{{ 2insert_item }}
		<br>今日のおすすめソング</p></p>
      <a href="#" class="js-modal-close">閉じる</a>
    </div>
</div>

<div id="modal04" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>かに座のあなた！
			<br>今日の運勢は、第{{ 3insert_rank }}位!<br>
			<br>{{ 3insert_content }}<br>
			<br>総合運:{{ 3insert_total }}
			<br>金運:{{ 3insert_money }}
			<br>仕事運:{{ 3insert_job }}
			<br>恋愛運:{{ 3insert_love }}
			<br>ラッキーカラー:{{ 3insert_color }}
			<br>ラッキーアイテム:{{ 3insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>
  
  <div id="modal05" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>しし座のあなた！
			<br>今日の運勢は、第{{ 4insert_rank }}位!<br>
			<br>{{ 4insert_content }}<br>
			<br>総合運:{{ 4insert_total }}
			<br>金運:{{ 4insert_money }}
			<br>仕事運:{{ 4insert_job }}
			<br>恋愛運:{{ 4insert_love }}
			<br>ラッキーカラー:{{ 4insert_color }}
			<br>ラッキーアイテム:{{ 4insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>
  
  <div id="modal06" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>おとめ座のあなた！
			<br>今日の運勢は、第{{ 5insert_rank }}位!<br>
			<br>{{ 5insert_content }}<br>
			<br>総合運:{{ 5insert_total }}
			<br>金運:{{ 5insert_money }}
			<br>仕事運:{{ 5insert_job }}
			<br>恋愛運:{{ 5insert_love }}
			<br>ラッキーカラー:{{ 5insert_color }}
			<br>ラッキーアイテム:{{ 5insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>

  <div id="modal07" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>てんびん座のあなた！
			<br>今日の運勢は、第{{ 6insert_rank }}位!<br>
			<br>{{ 6insert_content }}<br>
			<br>総合運:{{ 6insert_total }}
			<br>金運:{{ 6insert_money }}
			<br>仕事運:{{ 6insert_job }}
			<br>恋愛運:{{ 6insert_love }}
			<br>ラッキーカラー:{{ 6insert_color }}
			<br>ラッキーアイテム:{{ 6insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>
  
  <div id="modal08" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>さそり座のあなた！
			<br>今日の運勢は、第{{ 7insert_rank }}位!<br>
			<br>{{ 7insert_content }}<br>
			<br>総合運:{{ 7insert_total }}
			<br>金運:{{ 7insert_money }}
			<br>仕事運:{{ 7insert_job }}
			<br>恋愛運:{{ 7insert_love }}
			<br>ラッキーカラー:{{ 7insert_color }}
			<br>ラッキーアイテム:{{ 7insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>
  
  <div id="modal09" class="modal js-modal">
	<div class="modal-bg js-modal-close">
	</div>
	  <div class="modal-content">
		<p>いて座のあなた！
			<br>今日の運勢は、第{{ 8insert_rank }}位!<br>
			<br>{{ 8insert_content }}<br>
			<br>総合運:{{ 8insert_total }}
			<br>金運:{{ 8insert_money }}
			<br>仕事運:{{ 8insert_job }}
			<br>恋愛運:{{ 8insert_love }}
			<br>ラッキーカラー:{{ 8insert_color }}
			<br>ラッキーアイテム:{{ 8insert_item }}
			<br>今日のおすすめソング</p>
		<a href="#" class="js-modal-close">閉じる</a>
	  </div>
  </div>
  
  <div id="modal010" class="modal js-modal">
	  <div class="modal-bg js-modal-close">
	  </div>
		<div class="modal-content">
			<p>やぎ座のあなた！
				<br>今日の運勢は、第{{ 9insert_rank }}位!<br>
				<br>{{ 9insert_content }}<br>
				<br>総合運:{{ 9insert_total }}
				<br>金運:{{ 9insert_money }}
				<br>仕事運:{{ 9insert_job }}
				<br>恋愛運:{{ 9insert_love }}
				<br>ラッキーカラー:{{ 9insert_color }}
				<br>ラッキーアイテム:{{ 9insert_item }}
				<br>今日のおすすめソング</p>
		  <a href="#" class="js-modal-close">閉じる</a>
		</div>
	</div>
	
	<div id="modal011" class="modal js-modal">
	  <div class="modal-bg js-modal-close">
	  </div>
		<div class="modal-content">
			<p>みずがめ座のあなた！
				<br>今日の運勢は、第{{ 10insert_rank }}位!<br>
				<br>{{ 10insert_content }}<br>
				<br>総合運:{{ 10insert_total }}
				<br>金運:{{ 10insert_money }}
				<br>仕事運:{{ 10insert_job }}
				<br>恋愛運:{{ 10insert_love }}
				<br>ラッキーカラー:{{ 10insert_color }}
				<br>ラッキーアイテム:{{ 10insert_item }}
				<br>今日のおすすめソング</p>
		  <a href="#" class="js-modal-close">閉じる</a>
		</div>
	</div>
	
	<div id="modal012" class="modal js-modal">
	  <div class="modal-bg js-modal-close">
	  </div>
		<div class="modal-content">
			<p>うお座のあなた！
				<br>今日の運勢は、第{{ 11insert_rank }}位!<br>
				<br>{{ 11insert_content }}<br>
				<br>総合運:{{ 11insert_total }}
				<br>金運:{{ 11insert_money }}
				<br>仕事運:{{ 11insert_job }}
				<br>恋愛運:{{ 11insert_love }}
				<br>ラッキーカラー:{{ 11insert_color }}
				<br>ラッキーアイテム:{{ 11insert_item }}
				<br>今日のおすすめソング</p>
		  <a href="#" class="js-modal-close">閉じる</a>
		</div>
	</div>

<script>
// モーダルウィンドウを開く
$('.js-modal-open').on('click', function(){
  var target = $(this).data('target');
  var modal = document.getElementById(target);
  scrollPosition = $(window).scrollTop();

  $('body').addClass('fixed').css({'top': -scrollPosition});
  $(modal).fadeIn();
  return false;
});

// モーダルウィンドウを閉じる
$('.js-modal-close').on('click', function(){
  $('body').removeClass('fixed');
  window.scrollTo( 0 , scrollPosition );
  $('.js-modal').fadeOut();
  return false;
});
</script>
<!-- / ここまで -->
	 

</footer>
	<!-- / フッター -->
	<address>powerd by <a href="http://jugemkey.jp/api/">JugemKey</a><br>【PR】<a href="http://www.tarim.co.jp/">原宿占い館 塔里木</a><br>Copyright(c) 2013 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

<!-- ↓body閉じタグ直前でjQueryを読み込む -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-8216c69d01441f36c0ea791ae2d4469f0f8ff5326f00ae2d00e4bb7d20e24edb.js"></script>

  
      <script id="rendered-js" >
$(function () {
  $('#openModal').click(function () {
    $('#modalArea').fadeIn();
  });
  $('#closeModal , #modalBg').click(function () {
    $('#modalArea').fadeOut();
  });
});
//# sourceURL=pen.js
    </script>


</body>
</html>